* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swingvy_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.swingvy_list li {
  list-style-type: none;
}

.swingvy_list a {
  text-decoration: none;
  color: #1C202B;
}

.swingvy_list .swingvy_text {
  padding: 0 100px;
}

.swingvy_list .swingvy_text a {
  padding: 0 20px;
}

.swingvy_list li:hover {
  color: darkgrey;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  min-width: 150px;
  border: 1px solid transparent;
  padding: 10px;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  pointer-events: none;
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
}

.dropdown .naw-item {
  padding: 15px;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  pointer-events: initial;
}

.swingvy_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  border: 1px solid transparent;
  padding: 10px 20px;
  background-color: #0A61F7;
  border-radius: 5px;
  margin-top: -10px;
}

.btn a {
  color: white;
}

.people {
  background-image: url(./../../img/people.png);
  background-size: contain;
  width: 1440px;
  height: 802px;
  text-align: center;
  padding-top: 300px !important;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.people .people_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people .people_heading h2 {
  font-size: 57px;
  font-weight: 400;
  max-width: 507px;
  text-align: center;
  letter-spacing: 1.6px;
}

.people .demo {
  padding: 16px;
}

.people .demo a {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  text-decoration: none;
  color: #657085;
  font-size: 28px;
}

.btn-demo {
  display: inline-block;
  border: 1px solid transparent;
  padding: 20px 48px;
  background-color: #0A61F7;
  border-radius: 5px;
  margin: 26px;
}

.btn-demo a {
  color: white;
  text-decoration: none;
}

.support_heding h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  text-decoration: none;
  color: #657085;
  font-size: 18px;
  padding: 15px 0;
}

.support_heding {
  margin-left: 80px;
  margin-top: 100px;
}

.support_heding h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 39px;
  line-height: 48px;
  max-width: 850px;
}

.support_heding h3 span {
  color: #0A61F7;
}

.support_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support_list li {
  list-style-type: none;
  width: 351px;
  height: 57px;
  border-radius: 5px;
  margin: 10px;
}

.support_list li a {
  text-decoration: none;
}

.support_list li .support_box {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
}

.support_list li .support_box img {
  margin: 0 20px;
}

.support_list li .support_box a {
  margin-top: 5px;
}

.support_list .support_text-1 {
  background-color: #EAF3FF;
}

.support_list .support_text-2 {
  background-color: #FFF8E4;
}

.support_list .support_text-3 {
  background-color: #FFF3EF;
}

.support_list .support_text-4 {
  background-color: #E2FBF2;
}

.support_list .support_text-5 {
  background-color: #E2FBF2;
}

.support_list .support_text-6 {
  background-color: #F1F1FC;
}

.support_list .support_text-7 {
  background-color: #FFE5ED;
}

.office {
  margin-top: 70px;
  margin-right: 250px;
}

.modern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.modern span {
  color: #0A61F7;
  font-family: "Roboto";
  padding: 0 10px;
}

.btn-modern {
  display: inline-block;
  border: 1px solid transparent;
  padding: 15px 24px;
  background-color: #0A61F7;
  border-radius: 5px;
  margin: 10px;
}

.btn-modern a {
  text-decoration: none;
  color: white;
}

.place_inner {
  margin-left: 40px;
  margin-top: 100px;
}

.place_inner h2 {
  color: #657085;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Roboto";
  padding: 18px 0;
}

.place_inner h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #1c202b;
  max-width: 521px;
}

.place_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place_list .place_text {
  list-style-type: none;
}

.place_list .place_text span {
  color: #0A61F7;
  margin-left: -260px;
}

.place_list p {
  max-width: 315px;
  margin: 35px 0;
}

.place_list img {
  margin-top: 80px;
  margin-bottom: 20px;
}

.choose {
  width: 1440px;
  height: 802px;
  background-color: #fec33e;
  margin: 216px 0;
}

.choose_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1072px;
  align-items: center;
}

.choose_text {
  margin-top: 250px;
  margin-left: 180px;
}

.choose_text h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  color: #1C202B;
  padding: 18px 0;
}

.choose_text h3 {
  font-weight: 700;
  font-size: 39px;
  line-height: 48px;
  color: #1C202B;
  max-width: 626px;
  padding: 20px 0;
}

.choose_text p {
  max-width: 497px;
  color: #1C202B;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  padding: 30px 0;
}

.choose_text .learn_btn {
  display: inline-block;
  border-radius: 5px;
  padding: 20px 48px;
  border: 1px solid transparent;
  background-color: white;
}

.choose_text .learn_btn a {
  text-decoration: none;
  color: black;
}

.choose_img {
  margin-top: 270px;
  margin-left: 140px;
}

.choose_img .box {
  margin: 40px 0;
}

.manage {
  margin-left: 184px;
  max-width: 1167px;
  margin-top: 160px;
}

.manage_inner h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  color: #657085;
  padding: 19px 0;
}

.manage_inner h3 {
  font-weight: 700;
  font-size: 39px;
  line-height: 48px;
  color: #1c202b;
  max-width: 800px;
  padding: 20px 0;
}

.manage_inner span {
  color: #0A61F7;
}

.manage_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}

.box-1 span {
  display: inline-block;
  width: 1072px;
  height: 2px;
  background-color: #C4C4C4;
  margin: 80px 0;
}

.teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teams_inner {
  margin-left: 166px;
}

.teams_inner h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  color: #657085;
  padding: 19px 0;
}

.teams_inner h3 {
  font-weight: 700;
  font-size: 39px;
  line-height: 48px;
  color: #1c202b;
  max-width: 800px;
  padding: 20px 0;
}

.teams_inner h3 span {
  color: #0A61F7;
}

.team_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_list p {
  max-width: 240px;
  padding: 16px 0;
}

.team_list p span {
  color: #0A61F7;
  margin: 54px 0;
}

.investors {
  text-align: center;
  padding: 232px 0;
}

.investors_inner h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  color: #657085;
  padding: 19px 0;
  text-align: center;
  margin: 32px 0;
}

.investors_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 59px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name {
  max-width: 516px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 39px 40px 55px;
  background-color: white;
}

.name h2 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #1c202b;
  font-family: "Roboto";
  margin-bottom: 32px;
}

.name .first-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.name .full-name {
  padding: 13px 16px;
}

.name .name_btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 15px 24px;
  background-color: #0a61f7;
  border-radius: 5px;
  color: white;
  margin-top: 32px;
}

.matter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  background-color: #0A61F7;
  padding: 223px 184px;
}

.matter_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.matter_inner .matter_text h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  color: white;
}

.matter_inner .matter_text h3 {
  padding: 18px 0;
  max-width: 459px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 39px;
  line-height: 48px;
  color: white;
}

.matter_inner .matter_slow {
  padding: 0px;
}

.matter_inner .matter_slow h4 {
  color: white;
}

.matter_inner .matter_slow li {
  color: white;
  list-style-type: none;
  padding-top: 10px;
}

.matter_talk h4 {
  color: white;
  max-width: 504px;
  padding: 30px 0;
}

.matter_talk p {
  color: white;
  max-width: 227px;
  padding-bottom: 65px;
}

.matter_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.blog_swingvy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 95px;
}

.blog_text p {
  max-width: 278px;
  color: #0A61F7;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  padding-top: 28px;
}

.blog_text img {
  margin-right: 16px;
}

.blog_text h2 {
  max-width: 326px;
  padding: 0 0 47px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  font-family: "Roboto";
}

.blog_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 180px;
}

.blog_inner .blog_list li {
  list-style-type: none;
  margin-bottom: 15px;
}

.blog_inner .blog_list li a {
  text-decoration: none;
  color: #1c202b;
}

.blog_inner .blog_list .blog_slow a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.blog_inner h3 {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #657085;
}

.box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog_globus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.blog_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown_text li {
  list-style: none;
  display: none;
}

.dropdown-list:hover .dropdown_text li {
  display: block;
  padding-left: 10px;
  border: 1px solid black;
}

.dropdown-list li {
  list-style-type: none;
}

.blog_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 270px;
}

.blog_contact li {
  list-style-type: none;
  margin-bottom: 15px;
}

.blog_contact li a {
  text-decoration: none;
  color: #1C202B;
}

.blog_contact li h3 {
  margin-bottom: 35px;
}

.blog_contact .blog_social h4 {
  margin-bottom: 35px;
}

.blog_mir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=main.css.map */