.investors {
    text-align: center;
    padding: 232px 0;
}

.investors_inner {
    h2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        font-family: "Roboto";
        color:#657085;
        padding: 19px 0;
        text-align: center;
        margin: 32px 0;
    }
}

.investors_img {
    display: flex;
    gap: 59px;
    justify-content: center;

}